body {
    background: #e8fced;
}


ul {
  list-style: none;
}

li {
    display: inline-block;
    margin: 20px;
    padding: 3px;
    border-left: 1px solid black;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.active {
    background: #eae5e5;
}

